<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
          Foros
        </h1>
      </div>
        <img class="rounded-circle mx-auto d-block logo m-4" src="/img/logo-foro.jpg" width="300" alt="Logo">
      <div class="card-body">
        <form action="/foro/new" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Nombre" autofocus>
          </div>
          <button class="btn btn-primary btn-block">
            Crear Foro 
          </button>
        </form>
      </div>
    </div>
  </div>
</div>